---
import { getCollection } from "astro:content";
import CombinedLayout from "../../layouts/CombinedLayout.astro";
import Wrapper from "../../components/Wrapper.astro";

const projects = await getCollection("projects");
---

<CombinedLayout title="projects">
   <section class="grid grid-cols-1 auto-cols-max gap-4 sm:grid-cols-2 sm:gap-3">
      {
         projects
            .sort((a, b) => -a.data.order + b.data.order)
            .map(({ data: { title, website, github, blurb, tech }, id }) => (
               <Wrapper>
                  <h3 class="text-3xl text-center hover:text-cyan-400 font-heading">
                     <a class="" href={`/projects/${id}`}>
                        {title}
                     </a>
                  </h3>
                  <a
                     class="mx-auto -my-4 text-sm text-bluegray-200 md:text-md hover:text-slate-300"
                     href={`/projects/${id}`}
                  >
                     click here for more info
                  </a>
                  <p class="text-sm text-center text-slate-300">{blurb}</p>
                  <div class="flex flex-row gap-10 justify-center" />
                  <slot />
               </Wrapper>
            ))
      }
   </section>
</CombinedLayout>
