---
import type { SimpleIcon } from "simple-icons";

type Props = {
  href: string;
  title: string;
};

const { href, icon, svg, title } = Astro.props;
---

<div class='w-8 h-8 object-cover'>
  <a href={href} class='w-full h-full'>
    <slot />
    <span class='sr-only'>{title}</span>
  </a>
</div>
