---
type Props = {
  href: string;
  title: string;
};

const { href, title } = Astro.props;
---

<div class='w-8 h-8 object-cover'>
  <a href={href} class='w-full h-full fill-slate-200'>
    <slot />
    <span class='sr-only'>{title}</span>
  </a>
</div>
