---
import { getCollection } from "astro:content";
import CombinedLayout from "../../layouts/CombinedLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

const posts = (await getCollection("blog")).sort(
   (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<CombinedLayout nav title="blog posts">
   <section class="not-prose">
      <div class="flex flex-col gap-5">
         {posts.map((post) => <BlogPost {...post} />)}
      </div>
   </section>
</CombinedLayout>

<style>
   .links {
      color: var(--un-prose-links);
      @apply text-2xl;
   }
   .headings {
      color: var(--headings);
      @apply text-2xl;
   }
</style>
