@font-face {
   font-family: "Norwester";
   src: url("/fonts/Norwester.otf") format("otf");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Intel Mono";
   src: url("/fonts/intelmono.woff") format("woff");
}

* {
   font-weight: 400;
}
