@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,500&display=swap");

* {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.bold {
    font-weight:800; 
}