---
import BaseLayout from "../layouts/BaseLayout.astro";
import Technology from "../components/Technology.astro";
import Projects from "../components/Projects.astro";
import TextBackground from "../components/TextBackground";
import Header from "../components/Header.astro";
import NavigateDownButton from "../components/NavigateDownBtn";
---

<BaseLayout>
   <section class="h-100vh w-100%">
      <TextBackground client:only />
      <div id="ignored" class="centered transform-center text-7xl md:text-8xl lg:text-9xl">
         <div
            class="gradient-text bg-gradient-to-r bg-gradient-from-sky-400 bg-gradient-to-cyan-600 font-extrabold font-bold text-center"
         >
            <span class="font-bold">Rohan</span>
            <br />
            <span class="font-bold">Godha</span>
         </div>
      </div>
      <NavigateDownButton client:only />
   </section>
   <section class="max-w-[calc(75ch+1.25rem)] w-full m-auto px-10 py-5">
      <div
         class="min-w-full break-words overflow-auto prose text-slate-300 bbg min-h-100vh text-xl"
      >
         <Header />
         <p>
            Hi! My name is Rohan, and I'm a 17 year old junior at
            <Technology href="https://brophyprep.org/">Brophy College Prep</Technology>.
         </p>
         <p>
            I love learning about new technology, currently including
            <Technology href="https://www.rust-lang.org/">Rust</Technology> and
            <Technology href="https://tauri.app/">Tauri</Technology>.
         </p>
         <p>
            Robotics is one of my passions, and I'm currently on the Robotics team at Brophy,
            <Technology href="https://sites.google.com/brophyprep.org/broncobotics/home">
               Broncobots.
            </Technology>
         </p>
         <h2 class="-mt-1 text-bold">
            <a class="not-prose hover:text-cyan-400 font-bold" href="/projects">Projects</a>
         </h2>
         <Projects amount={2} />
      </div>
   </section>
</BaseLayout>

<style is:global>
   .centered {
      position: absolute;
      left: 50%;
      top: 50%;
   }
   .transform-center {
      transform: translate(-50%, -50%);
   }
</style>
