---
import BaseLayout from "../layouts/BaseLayout.astro";
import TextBackground from "../components/TextBackground";
import pfp from "../pfp.png";
import { Image } from "astro:assets";

export const prerender = true;
---

<BaseLayout title="homepage">
   <section class="h-100vh w-100%">
      <div class="h-100vh w-100% z--1 absolute">
         <TextBackground client:only="solid-js" />
      </div>
      <!-- TODO: responsive -->
      <div class="w-full centered transform-center">
         <div class="flex flex-col gap-4 items-center">
            <div class="flex flex-row gap-16 items-center">
               <div class="" id="image-container">
                  <Image src={pfp} alt="" class="w-full h-full" loading="eager" />
               </div>
               <div class="" id="h1-container">
                  <h1 class="font-sans text-sky-400">ROHAN GODHA</h1>
               </div>
            </div>
            <div class="w-full pl-10vw">
               <h2 class="text-80vh w-min-content font-handwriting text-sky-400">
                  CS Student at Georgia Tech
               </h2>
            </div>
         </div>
      </div>
   </section>
</BaseLayout>

<style is:global>
   .centered {
      position: absolute;
      left: 50%;
      top: 50%;
   }
   .transform-center {
      transform: translate(-50%, -50%);
   }

   /* basically what we want is for the image to be 1.9338842975 x the height of the 
    text, and for the width the text + image + gap to be 80% of the screen

    x = text width
    y = font size = text height = line height
    z = image width = image height

    x = y * 5.409
    x + z + 64 = 80vw
    z = y * 1.9338842975

    5.409y + 1.9338842975y + 64px = 80vw;
    y = (80vw-64px)/7.3428842975
    z = y * 1.9338842975 

    there's probably an easier way of doing this, but idk how to
   */

   :root {
      --y: calc((80vw - 64px) / 7.3428842975);
      --z: calc(var(--y) * 1.9338842975);
   }

   #image-container {
      height: var(--z);
      width: var(--z);
   }

   #h1-container {
      font-size: var(--y);
      line-height: var(--y);
   }

   .text-80vh {
      font-size: calc(80vw / 16.1202083333);
   }
</style>
