---
import BaseLayout from "../layouts/BaseLayout.astro";
import Technology from "../components/Technology.astro";
import Projects from "../components/Projects.astro";
import TextBackground from "../components/TextBackground";
import Header from "../components/Header.astro";
import NavigateDownButton from "../components/NavigateDownBtn";
import Footer from "../components/Footer.astro";

export const prerender = true;
---

<BaseLayout title="homepage">
   <section class="h-100vh w-100%">
      <div class="h-100vh w-100% z--1 absolute">
         <TextBackground client:only="solid-js" />
      </div>
      <Header />
      <div class="centered transform-center w-full">
         <div class="md:pl-15% flex flex-col pl-12">
            <div class="w-full font-bold">
               <h1
                  class="gradient-text bg-gradient-from-sky-400 bg-gradient-to-cyan-600 bg-gradient-to-r text-7xl font-bold md:text-8xl lg:text-9xl"
               >
                  Rohan Godha
               </h1>
               <h3 class="text-2xl font-bold text-sky-600 md:text-3xl lg:text-4xl xl:text-5xl">
                  aspiring web developer
               </h3>
            </div>
         </div>
      </div>
      <NavigateDownButton client:only="solid-js" />
   </section>
   <section class="m-auto w-full max-w-[calc(75ch+1.25rem)] px-10 py-5">
      <div
         class="prose bbg min-h-100vh min-w-full overflow-auto break-words text-xl text-slate-300"
      >
         <p>
            Hi! My name is Rohan, and I'm a 18 year old graduating senior at
            <Technology href="https://brophyprep.org/">Brophy College Prep</Technology>, and
            incoming CS major at <Technology href="https://gatech.edu">Georgia Tech</Technology>.
         </p>
         <p>
            I love learning about new technology, currently including
            <Technology href="https://www.rust-lang.org/">Rust</Technology> and
            <Technology href="https://sst.dev">SST</Technology>.
         </p>
         <p>
            Robotics is one of my passions, and I'm currently on the Robotics team at Brophy,
            <Technology href="https://frcteam254.com">Broncobotics.</Technology>
         </p>
         <p>
            I've also started to love Graphic Design and typography, and I'm currently learning
            Adobe Illustrator
         </p>
         <h2 class="text-bold -mt-1">
            <a class="not-prose font-bold hover:text-cyan-400" href="/projects">Projects</a>
         </h2>
         <Projects amount={2} />
         <Footer />
      </div>
   </section>
</BaseLayout>

<style is:global>
   .centered {
      position: absolute;
      left: 50%;
      top: 50%;
   }
   .transform-center {
      transform: translate(-50%, -50%);
   }
</style>
