---
import BaseLayout from "../layouts/BaseLayout.astro";
import Technology from "../components/Technology.astro";
---

<BaseLayout>
  <p>
    Hi! My name is Rohan, and I'm a 17 year old junior at <a href='https://brophyprep.org/'>Brophy College Prep</a>
  </p>
  <p>
    I love learning about new technology, currently including
    <Technology href='https://www.rust-lang.org/'>Rust</Technology> and
    <Technology href='https://tauri.app/'>Tauri</Technology>
  </p>
  <p>
    Robotics is one of my passions, and I'm currently on the Robotics team at Brophy, 
    <Technology href='https://broncobotics.brophyprep.org/'>Broncobotics</Technology>
  </p>
  <p>
    I love making websites, especially with <Technology href='https://nextjs.org/'>NextJS</Technology>,
    <Technology href='https://kit.svelte.dev/'>SvelteKit</Technology>, and
    <Technology href='https://astro.build/'>Astro</Technology>, styled with atomic css like
    <Technology href='https://tailwindcss.com/'>TailwindCSS</Technology> and
    <Technology href='https://uno.antfu.me/'>UnoCSS</Technology>
  </p>
  <p>
    I love coding in <Technology>Typescript</Technology>, and I'm starting to fall in love with
    <Technology>Rust</Technology> too.
  </p>
</BaseLayout>
