---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/blog'>Blog</HeaderLink>
    <HeaderLink href='https://instagram.com/rohangodha' target='_blank'>Instagram</HeaderLink>
    <HeaderLink href='https://github.com/rgodha24' target='_blank'>GitHub</HeaderLink>
  </nav>
</header>
