---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class='pb-4'>
  <h2 class='text-3xl text-white py-2'>
    {SITE_TITLE}
  </h2>
  <nav class='flex flex-row flex-1 justify-between text-2xl'>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/blog'>Blog</HeaderLink>
    <HeaderLink href='/projects'>Projects</HeaderLink>
  </nav>
</header>
