---
export interface Props {
  href: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
}

const { href, target } = Astro.props;
---

<a href={href} class='text-[#f00707] font-bold' target={target || ""}>
  <slot />
</a>
