---
import HeaderLink from "./HeaderLink.astro";
---

<div class="flex flex-row justify-between">
   <a href="/" class="p-4">
      <img
         src="/pfp-bad-qual.webp"
         alt="star wars clone trooper"
         class="w-15 h-15 left-5% my-auto rounded-full"
         height="60"
         width="60"
         style="object-fit: cover;"
      />
   </a>
   <div
      class="h-15 md:3 mt-4 flex flex-row items-center gap-6 p-4 text-xl md:gap-12 md:text-2xl lg:mt-2.5 lg:text-3xl xl:text-4xl"
   >
      <HeaderLink
         href="https://docs.google.com/document/d/e/2PACX-1vR6n_-o3-mLO038zZ-YRmGB3k-j9fPEbmYldCuAM4tMnIsBh12quwxud6QTMOm8jcecsgySJklRm_0v/pub"
         target="_blank"
      >
         Resume
      </HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
   </div>
</div>
