---
type Props = {
   href: string;
};
const { href } = Astro.props;
---

<a href={href} class="tech text-2xl font-bold hover:text-cyan-400" target="_blank"><slot /></a>

<style>
   .tech {
      color: var(--un-prose-links);
   }
</style>
