---
import BaseLayout from "../layouts/BaseLayout.astro";
import TextBackground from "../components/TextBackground.astro";
import Icons from "../components/Icons";
import pfp from "../pfp.png";
import { Image } from "astro:assets";
---

<BaseLayout title="homepage">
   <main id="main">
      <section class="w-screen h-screen">
         <div class="absolute w-screen h-screen z--1">
            <TextBackground transition:persist transition:name="background" />
         </div>
         <div class="flex flex-col h-full">
            <div class="flex flex-col flex-grow gap-8 justify-center items-center">
               <div class="flex flex-col gap-8 items-center md:flex-row md:gap-16">
                  <div class="" id="image-container">
                     <Image
                        src={pfp}
                        alt=""
                        class="w-full h-full"
                        loading="eager"
                        transition:name="pfp"
                     />
                  </div>
                  <div class="flex justify-center items-center" id="h1-container">
                     <h1 class="<sm:w-min font-heading text-sky-400" transition:name="name">
                        ROHAN GODHA
                     </h1>
                  </div>
               </div>
               <div class="flex flex-row justify-center items-center w-full md:block">
                  <h2
                     class="hidden md:block w-min-content font-handwriting text-sky-400"
                     id="subtitle-text"
                  >
                     CS Student at Georgia Tech
                  </h2>
                  <h2 class="text-4xl md:hidden w-min-content font-handwriting text-sky-400">
                     CS at GaTech
                  </h2>
               </div>
            </div>
            <div class="relative mb-20 md:mb-24 h-min-content">
               <Icons client:idle hideable={false} />
            </div>
         </div>
      </section>
   </main>
</BaseLayout>

<style is:global>
   :root {
      --font-size-to-text-width: 4.9692797394;
      --image-size-to-text-height: 1.15;
      --space-to-use: 70vw;
   }

   /* basically what we want is for the image to be a multiple of the height of the 
    text, and for the width the text + image + gap to be 80% of the screen

    x = text width
    y = font size = text height = line height
    z = image width = image height

    x = y * --font-size-to-text-width
    x + z + 64 = 80vw
    z = y * --image-size-to-text-height

    --font-size-to-text-width * y + --image-size-to-text-height * y + 64px = 80vw;
    y = (80vw-64px)/(--font-size-to-text-width + --image-size-to-text-height)
    z = y * --image-size-to-text-height 

    there's probably an easier way of doing this, but idk how to
     */

   :root {
      --font-size: calc(
         (var(--space-to-use) - 64px) /
            (var(--font-size-to-text-width) + var(--image-size-to-text-height))
      );
      --image-size: calc(var(--font-size) * var(--image-size-to-text-height));
   }

   @media (min-width: 768px) {
      #image-container {
         height: var(--image-size);
         width: var(--image-size);
      }

      #h1-container {
         font-size: var(--font-size);
         line-height: var(--font-size);
         letter-spacing: calc(var(--font-size) * -0.04);
      }

      #subtitle-text {
         font-size: calc(var(--space-to-use) / 16.1202083333);
         padding-left: calc((100vw - var(--space-to-use)) / 2);
      }
   }
   @media (max-width: 767px) {
      #image-container {
         height: 50vw;
         width: 50vw;
      }

      #h1-container {
         @apply text-8xl;
      }
   }
</style>
