---
import { getCollection } from "astro:content";
import TitledLayout from "../layouts/TitledLayout.astro";
import { Image } from "astro:assets";

const albums = await getCollection("albums");
---

<TitledLayout title="Music">
   <h2 class="px-16 pt-8 text-4xl font-semibold text-sky-400">
      Here are some of my favorite albums!
   </h2>
   <ol class="grid grid-cols-1 gap-x-8 gap-y-8 py-8 px-16 xl:grid-cols-2">
      {
         albums.map(({ data }) => (
            <div class="bg-#180849/40 backdrop-blur-4px rounded-40px flex flex-row p-4 gap-x-4">
               <div class="ml-4 w-100px min-w-100px">
                  <Image
                     inferSize
                     src={data.image}
                     alt={`${data.name} by ${data.artists.map(({ name }) => name).join(", ")}`}
                     class="w-full h-auto rounded-md"
                  />
               </div>
               {/* TODO: make this wrap around instead of this goofy multi line stuff */}
               <div class="flex-1 font-sans text-sky-400">
                  <h3 class="max-w-full font-bold sm:text-3xl lg:text-4xl xl:text-3xl 2xl:text-4xl">
                     {data.name}
                  </h3>
                  <h4 class="italic sm:text-xl lg:text-2xl xl:text-xl 2xl:text-2xl">
                     {data.artists.map(({ name }) => name).join(", ")}
                  </h4>
               </div>
            </div>
         ))
      }
   </ol>
</TitledLayout>
