---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from "astro:transitions";

type Props = { description?: string; title: string; class?: string; tags?: string[] };

const { description = SITE_DESCRIPTION, title, tags, ...props } = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-[100%] overflow-auto">
   <head>
      <BaseHead title={title} description={description} tags={tags} />
      {
         import.meta.env.PROD && (
            <>
               <script
                  data-collect-dnt="true"
                  async
                  defer
                  src="https://api.rohangodha.com/latest.js"
               />
               <noscript>
                  <img
                     src="https://api.rohangodha.com/noscript.gif?collect-dnt=true"
                     alt=""
                     referrerpolicy="no-referrer-when-downgrade"
                  />
               </noscript>
            </>
         )
      }
      <ViewTransitions />
   </head>
   <body class={`${props["class"] || ""} font-sans`}>
      <slot />
      <style is:global>
         :root {
            --headings: rgb(134, 236, 246);
            background-color: #001135;
         }
         .prose-sky-light {
            --un-prose-body: #e0f2fe;
            --un-prose-headings: #38bdf8;
            --un-prose-links: #22d3ee;
            --un-prose-lists: #e0f2fe;
            --un-prose-hr: #38bdf8;
            --un-prose-captions: #7dd3fc;
            --un-prose-code: #7dd3fc;
            --un-prose-borders: #0c4a6e;
            --un-prose-bg-soft: rgba(12, 74, 110, 0.3);
         }
         a {
            text-decoration: none;
            @apply hover:underline-cyan-300 no-underline hover:underline;
         }

         .gradient-text {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
      </style>
   </body>
</html>
