---
import Wrapper from "./Wrapper.astro";
import type { CollectionEntry } from "astro:content";
type Props = Pick<CollectionEntry<"blog">, "data" | "slug">;
const {
   data: { title, pubDate, description, readingTime },
   slug,
} = Astro.props;
---

<Wrapper>
   <h3 class="not-prose text-center text-3xl hover:text-cyan-400">
      <a class="" href={`/blog/${slug}`}>
         {title}
      </a>
   </h3>
   <p class="-mt-2 text-center text-slate-300">{description}</p>
   <div class="mx-auto flex flex-row gap-4 text-slate-300">
      <p>
         {readingTime} min read
      </p>
      <p>•</p>
      <p>{pubDate.toLocaleDateString("en-US")}</p>
   </div>
</Wrapper>
