---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

type Props = { description?: string; title?: string };

const { description = SITE_DESCRIPTION, title = SITE_TITLE } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="max-w-[65ch] w-full m-auto break-words overflow-auto">
    <Header title={title} />
    <main
      class='prose prose-red text-slate-300 prose-headings:text-gray-300 prose-strong:text-gray-300'
    >
      <slot />
    </main>
    <Footer />
    <style>
      :root {
        @apply bg-gradient-to-tr from-blue-800 to-sky-900 via-sky-800 min-h-[100%] bg-no-repeat bg-cover ;
      }
    </style>
  </body>
</html>
